


nav {
    margin-bottom:-10px;
    margin-top: 0px;
    width: 100%;
    height: 80px;
    display: inline-block;
    position: relative;
    z-index: 3;
    top: -75px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px rgba(222, 213, 213, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(222, 213, 213, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(222, 213, 213, 0.75);
}


.s{
	
	display: inline-block;
    float: right;
   
    position: relative;
    z-index: 5;
    top: -55px;
	
}


#glasses{
	/*display: inline-block;
    float: right;
    margin-left: 10px;
    position: relative;
    z-index: 5;
    top: -55px;*/
    width: 5%;
	margin-left: 10px;
}








.sticky {
    position: fixed;
    top: 0;
}

section {
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 15px;
}

nav h2 {
    font-weight: 700;
    display: inline-block;
    padding-right: 15px;
    margin-left: 39px;
}

nav p {
    font-weight: bold;
    display: inline-block;
    letter-spacing: 2px;
}

nav p .yours {
    letter-spacing: 3px;
}

section ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 9px;
}

section ul li a {
    color: rgb(132, 132, 132);
    text-decoration: none;
}

section li a:hover {
    text-decoration: none;
    color: black;
}


/*#lorem{
  
  width:640px;
  height:500vh;
  font-size:14px;
  padding-top:50px;
  margin:0 auto 0;
}
*/

.bg-grey{
    
    margin-top:35px;
}

#their{
    
    display:block;
   /* padding-left: 10px;
    margin-left:40px;
    padding-right:500px;
    margin-bottom: 60px;
    padding-top:5px;
    padding-bottom:5px;*/
    width:342px;
    height: 15px;
    background:rgb(242,242,242);
    position:relative;
    left:250px;
    margin-bottom:60px;
    
   
}

p {
    
    display: inline-block;
    padding-left:22px;
    margin-top:60px;
    padding-top:10px;
    font-weight:bold;
   
}

#th p{
    margin-top:30px;

    
}

#th p:first-of-type{
    
    margin-top:-20px;
    
}


.thumbnail {
    border: none;
    border-radius: 0;
   background: rgb(85, 102, 119);!important
}






#own{
    position:absolute;
    top:-100px;
    padding:20px 102px;
    margin-right:-190px;
    border-radius:5px;
    font-size:13px;
    font-weight:bold;
 	background-color: aliceblue;
  
}






#th{
  /*
   display: block;
   position:relative;
   
    top:-70px;
    padding-top:20px;
    right:-10px;
    width:500px;
   
    height: 2000px;
 */
    
   
  display:block;
  position:absolute;
  top:330px;
  left:810px;
  margin-bottom:30px;
   

}

#th input{
    margin-left:15px;
    
    
}










footer {
  
    background-color: rgb(235, 235, 235);
    position:relative;
    width:100%;
    height:25%;
	text-align: center;
	margin:0px;
/*bottom:-350px;*/
	border-top-style: solid;
	border-top-color:black;
	

	
  
}

footer ul li{
	list-style:none;
	display:inline-block;
	padding-top:40px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
}


footer p{
	font-size:11px;
   padding-bottom:30px;
	
	
}

